<div class="menu">
    <nav>
        <ul data-smart-menu class="menu-content">
            <li data-ui-sref-active="active">
                <a href="#"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">首页</span></a>
            </li>
            <li data-menu-collapse>
                <a href="#" title="系统管理">
                  <i class="fa fa-lg fa-fw fa-desktop"></i> 
                    <span class="menu-item-parent">系统管理</span></a>
                <ul class="menu-item-content">
                    <li>
                        <a data-ui-sref="app.sys.org">组织管理</a>
                    </li>
                    <li>
                        <a data-ui-sref="app.sys.subject_flow">审批流程</a>
                    </li>
                    <li>
                        <a data-ui-sref="app.sys.role">角色管理</a>
                    </li>
                    <li>
                        <a data-ui-sref="app.sys.user">用户管理</a>
                    </li>
                </ul>
            </li>
            <li data-menu-collapse>
                <a href="#" title="基础数据"><i class="fa fa-lg fa-fw fa-database "></i>
                    <span class="menu-item-parent">基础数据</span></a>
                <ul class="menu-item-content">
                    <li role='["/point/"]'>
                        <a data-ui-sref="app.basic_data.house">房屋信息</a>
                    </li>
                    <li>
                        <a data-ui-sref="app.basic_data.check_item">检查项数据</a>
                    </li>
                    <li role='["/check-rule/"]'>
                        <a data-ui-sref="app.basic_data.check">检查包数据</a>
                    </li>
                    <li role='["/task/"]'>
                        <a data-ui-sref="app.basic_data.problem_item">异常问题</a>
                    </li>
                    <li role='["/task/"]'>
                        <a data-ui-sref="app.basic_data.type_data">基础类型数据</a>
                    </li>
                    <li>
                        <a data-ui-sref="app.basic_data.risk_assessment">短期倒塌风险评估</a>
                    </li>
                     <li>
                        <a data-ui-sref="app.data_center.contract">合同管理</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div class="container">
  <header>
    <div class="logo lf">
      <i class="fa fa-users fa-lg"></i> 后台管理系统
    </div>
    <div class="header-info rt">
      <img src="" alt="">
      <span>Peter</span>
      <i class="fa fa-envelope-o fa-lg"></i>
      <i class="fa fa-power-off fa-lg"></i>
    </div>
  </header>
  <div class="content">
    <br>3<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1
    <br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1
    <br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1
    <br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1
    <br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1
    <br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1
    <br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1
    <br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1
  </div>
  <footer>
    底部底部底部底部底部底部底部
  </footer>
</div>